<form method="POST" id="RegLog">
    <input type="text" name="username" placeholder="Zadejte vaši přezdívku" required>
    <input type="password" name="password" placeholder="Zadejte vaše heslo" required>
    <input type="password" name="repassword" placeholder="Zadejte vaše heslo znovu" required>
    <input type="email" name="email" placeholder="Zadjete vaši e-mailovou adresu" required>
    <input type="date" name="bornday" placeholder="Zadjete váš datum narození" required>
    <input type="checkbox" name="podminky"> Souhlasím s podmínkami tohoto webu<br>
    <input type="checkbox" name="Newsletter" checked> Chci dostávat informace o nových článcích na email 
        <% errory.forEach(function(error){ %>
            <div class="error"><%= error %></div>
        <% }); %>
    <input type="submit" value="Registrovat">
</form>
<h3>Již máš účet? <a href="./login">Přihlaš se</a></h3>